<header>
  <% if(config.home) { %><a href="<%= config.home %>">Home</a> &middot;<% } %>
  <a href="<%= config.root %>">Blog</a> &middot;
  <a href="<%= url_for(config.feed.path) %>">Atom Feed</a>
</header>
